body {
    margin: 0;
    font-family: Arial, sans-serif;
}

footer {
    background-color: gray;
    color: black;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.social-icons a {
    margin: 0 10px;
}

button {
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}